---
---

<section id="hero" class="hero">
   <div class="section-container">
    <div>
        <!-- for img -->
    </div>
    <div class="text-center text-white">
        <h1 class="text-[40px] md:text-7xl xl:text-5 leading-none font-bold mb-6"> Nice to meet you! I'm Adam Keyes.</h1>
        <p class="text-base"> Based in the UK, I'm a front-end developer passionate about building accessible web apps that users love.</p>
    </div>
   </div>
</section>