---
export const skills = [
  {
    id: 1,
    name: 'html',
    experience: 4
  },
  {
    id: 2,
    name: 'html',
    experience: 4
  },
  {
    id: 3,
    name: 'html',
    experience: 4
  },
  {
    id: 4,
    name: 'html',
    experience: 4
  },
  {
    id: 5,
    name: 'html',
    experience: 4
  },
  {
    id: 6,
    name: 'html',
    experience: 4
  },
];
---
<section id="skills" class="skills">
    <div class="section-container">
        <div class="skills-layout">

        </div>
    </div>

</section>