---
import fem from '../../assets/images/icon-frontend-mentor.svg';
---

<header>
  <div class="section-container">
    <nav>
        <p class="text-4 xl:text-3 font-bold text-white">andreCurry</p>
        <div class="icons">
           <a href="">
            <i class="bi bi-github text-white text-xl md:text-2xl hover:text-teal"></i>
           </a>
           <a href="" class="fem-icon ">
            <img src={fem} alt="">
           </a>
        </div>
    </nav>
  </div>
</header>
