---
import fem from "../../assets/images/icon-frontend-mentor.svg";
import ProfileImg from "@components/ProfileImg/ProfileImg.astro";
import github from '@assets/icon-github.svg';
import {Image} from 'astro:assets';

---

<header class="pt-5 ">
  <div class="section-container">
    <div class="relative">
      <nav class="text-center">
        <p class="text-2 md:text-3 mb-5 md:mb-0 font-bold text-white">andreCurry</p>
        <div class="social-icons">
          <a href="" class="text-white">
            GitHub
            <!-- replace with icon -->
          </a>
         
        </div>
      </nav>
      <ProfileImg />
    </div>
  </div>
</header>
<!--  <i class="bi bi-github text-white w-5 md:w-10 hover:text-teal"></i>

  <img src={fem.src} alt="icon" class="w-7 h-7">

-->

<!-- use pixelied to convert svgs to webp -->
